body{
    background-color: black;
    color: #fff;
    margin:auto;      
}
div,h2{
    text-align: center;
}
h1{
    display: inline-block;
    width: 100px;
    background-color: #fff;
    color: black;
    border-radius: 15px;
}
.box{
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 auto;  
    padding-bottom: 20px;
    background-color: rgb(97, 136, 175);
}
.btn{
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background-color: rgb(104, 102, 102);
    box-shadow: 1px 3px  black;
}
.btn:hover{
    background-color: darkgray;
    color: rgb(0, 0, 0);
}